  /* custom css varaibles */
  :root{
    /* fonts */
    --font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    --font-size: 15px;
    /* colors */
    /* ### Primary */
    --linear-gradient-left: hsl(236, 72%, 79%);    
    --linear-gradient-right: hsl(237, 63%, 64%);    
    /* ### Neutral */
    --very-light-grayish-blue: hsl(240, 78%, 98%);
    --light-grayish-blue: hsl(234, 14%, 74%);
    --grayish-blue: hsl(233, 13%, 49%);
    --dark-grayish-blue: hsl(232, 13%, 33%);
    --white:hsl(0, 0%, 100%);
    --atributions:hsl(228, 45%, 44%);
  }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: var(--font-family);
    font-size: var(--font-size);
}

/* app-wrapper */
.app-wrapper{
    padding: 2em 1em;
    min-height: 100vh;
    text-align: center;
    background-color: var(--very-light-grayish-blue);
    position: relative;
}
.app-wrapper::before, .app-wrapper::after{
    content:'';
    position: absolute;
    /* width: 100%;
    height: 100%;  */
    background-size: auto;
}
/* .app-wrapper::before{
    background: url(./images/bg-top.svg) no-repeat top right;
    top: 0;
    left: 0;
}
.app-wrapper::after{
    background: url(./images/bg-bottom.svg) no-repeat bottom left;
    top: 0;
    left: 0;
} */

.container{
    max-width: 1200px;
}
/* header */
.header{
    margin: 2em auto;
}
.title{
    margin-bottom: 1em;
    display: block;
}
/* toggle switch */
.form-check-input{
    margin:.2em;
    display: block;
    cursor: pointer;
}
.form-check, .form-switch{
    display: inline-block;
}
/* component */
.component{
    margin: 1em auto;
    padding: 1em;
    max-width: 350px;
    border-radius: 8px;
    color: var(--grayish-blue);
    background-color: var(--white);
}
.component > span {
    padding: 1em 0;
    display: block;
    border-bottom:1px solid var(--light-grayish-blue);
}
span.subscription{
    padding: 0 0 .2em ;
    font-size: 50px;
}
span.plan{
    border: none;
}
.btn{
    margin: 2em auto .5em;
    padding: .7em;
    width: 90%;
    border-radius: 5px;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    transform: .3s;
    border: 1px solid transparent;
    color: var(--white);
    background: linear-gradient(90deg, var(--linear-gradient-left), var(--linear-gradient-right));
}
.btn:hover{
    color: hsl(237, 63%, 64%);
    background: transparent;
    border: 1px solid var(--dark-grayish-blue);
}

/* middle component */
[middle]{
    color: var(--white);
    background: linear-gradient(45deg, hsl(236, 72%, 79%),hsl(237, 63%, 64%));
}
[middle] .btn{
    color: var(--linear-gradient-right);
    background: var(--white);
}
[middle] .btn:hover{
    background: transparent;
    color: var(--white);
    border: 1px solid var(--white);
}

/* attributions */
.attribution {
    margin:2em auto 1em;
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: var(--atributions);
}

@media screen  and (min-width:1025px){
    .container{
        margin: 7em auto;
    }
    [middle]{
        height: 105%;
        inset: 0;
        margin: auto;
    }
}